<div class="banner">
<video class = "banner-video" muted loop autoplay playsinline>
  <source src = "./assets/main.mp4" type = "video/mp4">
</video>


</div>
<div class="section" id="about">
  <h2>Think Club</h2>
  <p>Think Club is a student body of Delhi Public School R.K.Puram that nurtures, supports and encourages students of all
    classes to participate and help make their ideas turn into reality.
    Since its inception in 2018, Think Club has emerged as a beacon of
    innovation, attracting the most brilliant minds in the school and
    beyond. Our club’s prestige extends beyond mere accolades, as we
    consistently deliver exceptional out-of-the-box thinking that
    translates into real-world impact.<br> <br> Major fields of focus are STEM, engineering and renewable energy. We provide a platform to our members to discuss modern day problems and their corresponding solutions. We partake in many international and national level competitions with a great deal of awards won.
    <br><br>Under the leadership of Ms. Archna Deepak, its founder and
    teacher in-charge, the club has gained a lot of popularity for its
    exceptional quality of thinking and turning ideas into reality. Ms.
    Archna Deepak's guidance and mentorship have been instrumental
    in fostering a culture of creativity, critical thinking, and problemsolving within Think Club.
    Beyond the boundaries of the school, our members have been
    celebrated for their groundbreaking ideas, winning numerous
    awards and accolades at prestigious competitions and events.
    Think Club's contributions extend beyond academic achievements,
    as we strive to inspire a generation of thinkers and problem solvers
    who are capable of shaping a brighter future.
    </p>
  </div>
  
